code {
  font-family: Consolas, monospace;
  font-size: 0.98rem;
  padding: 0 0.2rem 0.25rem;
  border-radius: 4px;
}

.architecture p,
.overview p,
.features p {
  white-space: pre-wrap;
}

.project-list.conclusion p {
  padding-bottom: 2rem;
}

.section p {
  margin-bottom: 5px;
  padding: 0;
}

.section video {
  height: 400px;
  width: auto;
}

.quick-links {
  padding-bottom: 15px;
}

.project-list {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.project-list li {
  text-align: center;
  font-size: 18px;
}

.features li {
  margin: 5px;
}

.pre-format {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
