/* 
+==============+
  -- GLOBAL -- 
+==============+ 
*/

html {
  scroll-behavior: smooth;
}

code {
  font-family: Consolas, monospace;
  font-size: 0.98rem;
  padding: 0 0.2rem 0.25rem;
  border-radius: 4px;
}

h4 {
  margin: 0;
}

/* 
+================+
  -- SECTIONS -- 
+================+ 
*/

.architecture p,
.overview p,
.features p,
.testing p,
.conclusion p {
  white-space: pre-wrap;
}

.section {
  padding-block: 3rem;
}

.section h2 {
  margin: 0 0 1.25rem;
}

.section h3 {
  margin: 1.5rem 0 1rem;
}

.section h4 {
  margin: 1rem 0 0.25rem;
}

.section p {
  margin: 0;
  padding: 0;
}

.section video {
  height: 400px;
  width: auto;
}

/* 
+================+
  -- FEATURES -- 
+================+ 
*/

.feature-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* 
+=============+
  -- MEDIA -- 
+=============+ 
*/

.code_snippet {
  display: block;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-top: 1.5rem;
}

.pre-format {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* 
+============+
  -- NAVS -- 
+============+ 
*/

.quick-links {
  padding-bottom: 15px;
}

.bt-top a {
  text-decoration: none;
  font-size: 1.3rem;
}
