/* ============
    -- MAIN --
   ============ */

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, 
p {
  text-align: center;
}

/* ==============
    -- LAYOUT --
   ============== */

.scroll-container {
  flex: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;  
  box-sizing: border-box;
  scroll-snap-align: start;  
}

/* ====================
    -- NAV / FOOTER --
   ==================== */

nav,
footer {
  background: #FFFF;
  padding: 10px 20px;
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px transparent;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;    
  position: sticky;  
  font-style: italic;
}

/* ==================
    -- NAVIGATION --
   ================== */

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;    
  padding: 0;
}

.nav-links a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a:hover,
h2 a:hover {
  color: rgb(36, 36, 255);
  cursor: pointer;
}

/* ================
    -- SECTIONS --
   ================ */

.hero {
  background: linear-gradient(to bottom, #f0f0f0, white);
  color: black;
  text-align: center;
}

.hero p,
.projects-desc {
  font-size: 17.5px;
}

.about {
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;    
}

.about p {
  font-size: 20px;
}

.contact {
  background: linear-gradient(to bottom, white, #f0f0f0);
}

/* ================
    -- PROJECTS --
   ================ */

.projects-desc {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

.projects-desc li {
  padding-bottom: 15px;
}

/* ================
    --- SKILLS ---
   ================ */

.skills-list,
.contact-link-cont {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
  
.skills-desc,
.contact-link {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills-desc {
  flex-wrap: wrap;
}

.skills-desc li {
  display: flex;
  justify-content: center;
  width: calc(25% - 30px);
}

.skills-imgs {
  height: 90px;
  width: auto;
}

/* ===============
    -- CONTACT --
   =============== */

.contact-link {
  padding: 50px;
}

.contact-link a {
    text-decoration: none;
}

/* ==============
    -- MOBILE --
   ============== */

@media screen and (max-width: 500px) {
  .about {
    width: 100%;
    line-height: 1.3;
  }
  
  .about p {
    font-size: 15px;
  }
  
  .contact-link {
    flex-direction: column;
    padding: 10px;
  }

  .skills-imgs {
    height: 40px;
    width: auto;
  }
}
